
.example-spacer {
  flex: 1 1 auto;
}


.app-sidenav {
  width: 300px;
}
.app-sidenav-content {
  display: flex;
  width:fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.app-container {
  height: 90%;
  margin: 0;
}