.my-card {
    width:fit-content;



}

.example-header-image {
    background-image: url('https://avatars.githubusercontent.com/u/26853687?s=96&v=4');
    background-size: cover;
  }

.board{
    max-width:100%;
}